body {
    background-color: #252525;
}

@font-face {
    font-family: 'Anton';
    src: url(fonts/Anton/Anton-Regular.ttf);
}

:root {
    --roxo-insugame: #5A1DA9;
    --laranja-insugame: #FF8A00;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}



.container-grid {
    width: 90vw;
    max-width: 100%;

    margin: 0 auto;
}




header {
    background: rgb(25, 2, 54);
    background: linear-gradient(90deg, rgba(25, 2, 54, 1) 11%, rgba(44, 14, 82, 1) 29%, rgba(63, 25, 111, 1) 52%, rgba(88, 41, 149, 1) 100%);
    background-repeat: no-repeat;
}



header div.container-grid {
    /*porcentagem- unidade relativa ao elemento Pai*/
    height: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;


}

#logo {
    height: auto;
    width: 100px;
}

.menu {
    background-color: var(--roxo-insugame);
    width: 550px;
    height: 70px;


    border-radius: 30px;
    /* Bordas arredondadas */
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.2);
    /* Sombra */
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-transform: uppercase;
  




}

.menu a {
    font-family: 'Anton';
    font-size: 20px;
    src: url(fonts/Anton/Anton-Regular.ttf);

    color: white;
    justify-content: space-between;
    text-decoration: none;
    /* Remover sublinhado dos links */


}

.menu a:hover {
    color: #FF8A00;
    font-size: 25px;
    transition: text-decoration 500ms ease;
}

.banner {
    height: 100vh;
    background-image: linear-gradient(90deg, rgba(0,0,0,1) 12%, rgba(28,28,28,1) 26%, rgba(71,71,71,1) 57%, rgba(102,102,102,1) 100%), url(img/gamificacao-na-academia-de-ginastica-gamefic-1024x749\ 1.png);
    background-repeat: no-repeat;

    background-position: 165% 40%;


}

p {
    font-family: 'Anton';

}