body {
    background-color: #252525;
}

@font-face {
    font-family: 'Anton';
    src: url(fonts/Anton/Anton-Regular.ttf);
}

:root {
    --roxo-insugame: #5A1DA9;
    --laranja-insugame: #FF8A00;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}



.container-grid {
    width: 80vw;
    max-width: 1400px;

    margin: 0 auto;


}




header {
    background: rgb(25, 2, 54);
    background: linear-gradient(90deg, rgba(25, 2, 54, 1) 11%, rgba(44, 14, 82, 1) 29%, rgba(63, 25, 111, 1) 52%, rgba(88, 41, 149, 1) 100%);
    background-repeat: no-repeat;

}



header div.container-grid {
    /*porcentagem- unidade relativa ao elemento Pai*/
    height: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;


}

#logo {
    height: auto;
    width: 60px;
    margin: 10px 0 10px 0;
}

.menu {
    background-color: var(--roxo-insugame);
    width: 550px;
    height: 70px;


    border-radius: 30px;
    /* Bordas arredondadas */
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.2);
    /* Sombra */
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-transform: uppercase;
    margin: 10px 0 10px 0;





}

.menu a {
    font-family: 'Anton';
    font-size: 20px;
    src: url(fonts/Anton/Anton-Regular.ttf);

    color: white;
    justify-content: space-between;
    text-decoration: none;
    /* Remover sublinhado dos links */


}

.menu a:hover {
    color: #FF8A00;
    font-size: 25px;
    transition: text-decoration 500ms ease;
}

.banner {
    height: 100vh;
    width: 100%;

    background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.9) 17%, rgba(102, 102, 102, 0) 100%), url(img/gamificacao-na-academia-de-ginastica-gamefic-1024x749\ 1.png);
    background-repeat: no-repeat;
    background-size: cover;
    

   

    /* background-position: 100% 40%; */


}

.conteudo-banner {
    height: 100%;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;

    /* margin-bottom: 30px; */
    backdrop-filter: blur(3px);

    padding-bottom: 50px;
}

.conteudo-banner h1 {
    color: white;
    font-family: 'Anton';
    font-size: 45px;
    width: 100%;
    margin-top: 150px;
    text-align: center;
    font-weight: 50;
}


.conteudo-banner h2 {
    font-family: 'Anton';
    font-weight: 100;
    color: white;
    font-size: 30px;

    text-align: center;
    /* margin-bottom: 10px; */
    margin-bottom: 20px;
}

button {
    background-color: var(--roxo-insugame);
    width: 200px;
    height: 150px;
    margin: 100px 600px 0 600px;
    align-items: center;
    padding: 15px 50px;
    border-radius: 30px;
    border: none;
    


    border-radius: 30px;
    /* Bordas arredondadas */
    box-shadow: 5px 5px 5px rgb(0, 0, 0);
}

button:hover {
    transform: translateY(-5px); 
    
    /* box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.2); */
}

button h3 {
    font-family: 'Anton';
    color: white;

    align-items: center;

    font-size: 40px;
    text-transform: uppercase;

    font-weight: 50;
}



#cases {
    margin-top: 50px;
    padding: 0 70px 0 70px;

}

#cases h2 {
    background-color: #5A1DA9;
    width: 100%;
    height: 100px;

    font-family: 'Anton';
    color: white;

    text-align: center;

    text-transform: uppercase;
    font-weight: 50;





}