body {
    background-color: #252525;
}

@font-face {
    font-family: 'Anton';
    src: url(fonts/Anton/Anton-Regular.ttf);
}

:root {
    --roxo-insugame: #5A1DA9;
    --laranja-insugame: #FF8A00;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}



.container-grid {
    width: 80vw;
    max-width: 1400px;

    margin: 0 auto;


}

header {
    background: rgb(25, 2, 54);
    background: linear-gradient(90deg, rgba(25, 2, 54, 1) 11%, rgba(44, 14, 82, 1) 29%, rgba(63, 25, 111, 1) 52%, rgba(88, 41, 149, 1) 100%);
    background-repeat: no-repeat;

}



header div.container-grid {
    /*porcentagem- unidade relativa ao elemento Pai*/
    height: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;


}

#logo {
    height: auto;
    width: 60px;
    margin: 10px 0 10px 0;
}

.menu {
    background-color: var(--roxo-insugame);
    width: 550px;
    height: 70px;


    border-radius: 30px;
    /* Bordas arredondadas */
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.2);
    /* Sombra */
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-transform: uppercase;
    margin: 10px 0 10px 0;





}

.menu a {
    font-family: 'Anton';
    font-size: 25px;
    src: url(fonts/Anton/Anton-Regular.ttf);

    color: white;
    justify-content: space-between;
    text-decoration: none;
    /* Remover sublinhado dos links */


}

.menu a:hover {
    color: #FF8A00;
    font-size: 25px;
    transition: text-decoration 500ms ease;
}

.banner {
    height: 100vh;
    width: 100%;
    
    /* background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.9) 17%, rgba(102, 102, 102, 0) 100%), url(img/gamificacao-na-academia-de-ginastica-gamefic-1024x749\ 1.png); */
    background-repeat: no-repeat;
    background-size: cover;
    
    background-image: url(img/desktop-wallpaper-mario-pixel-nintendo-room-night-computer-video-game-nintendo-computer\ 1.png);
    
    
    /* background-position: 100% 40%; */
    
    
}

.conteudo-banner {
    height: 100%;
    width: 100%;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    
    /* margin-bottom: 30px; */
    backdrop-filter: blur(3px);
    
    padding-bottom: 50px;
}

.conteudo-banner h1 {
    color: white;
    font-family: 'Anton';
    font-size: 45px;
    width: 100%;
    margin-top: 150px;
    text-align: center;
    font-weight: 50;
}


.conteudo-banner h2 {
    font-family: 'Anton';
    font-weight: 100;
    color: white;
    font-size: 30px;
    
    
    text-align: center;
    
    /* margin-bottom: 20px; */
}

.botao-banner {
    background-color: var(--roxo-insugame);
    width: 200px;
    height: 150px;
    
    margin: 100px 600px 0 600px;
    align-items: center;
    padding: 15px 50px;
    border-radius: 30px;
    border: none;



    border-radius: 30px;
    /* Bordas arredondadas */
    box-shadow: 5px 5px 5px rgb(0, 0, 0);
}

.botao-banner:hover {
    transform: translateY(-5px);

    /* box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.2); */
}

.botao-banner h3 {
    font-family: 'Anton';
    color: white;

    align-items: center;

    font-size: 40px;
    text-transform: uppercase;

    font-weight: 50;
}



.banner-cases {
    margin-top: 50px;
   





}
.container-grid{
    width: 80vw;
    max-width: 1400px;

    margin: 0 auto;
    
}

.container-card{
    width: 385px;

    display: flex;
    justify-content: space-between;
}
.banner-cases h2 {
    background-color: var(--roxo-insugame);
    width: 1000px;
    height: 100px;
    margin: 0 auto;

    font-family: 'Anton';
    color: white;
    font-size: 40px;

    text-align: center;

    text-transform: uppercase;
    font-weight: 50;
    border-radius: 30px;

    padding-top: 20px;




}

.cases1 {

    background-color: var(--roxo-insugame);
    width: 900px;
    height: 400px;
    margin: 50px auto;
    display: flex;
    align-items: end;





    padding: 70px 30px 80px 40px;

    border-radius: 30px;








}

.cases1 img {
    display: flex;


    width: 500px;

    border-radius: 30px;
    margin-left: 30px;






}

.cases1 p {
    font-family: 'Teko';
    color: white;
    font-size: 35px;

    

    margin-bottom: 10px;

}

.cases2 {
    background-color: var(--roxo-insugame);
    width: 900px;
    height: 400px;
    margin: 50px auto;
    display: flex;
    align-items: end;

    font-family: 'Teko';
    color: white;
    font-size: 30px;



    padding: 70px 0 80px 40px;

    border-radius: 30px;


}

.cases2 p {
    font-family: 'Teko';
    color: white;
    font-size: 35px;

    margin-right: 30px;
    margin-bottom: 50px;






}

.cases2 img {

    display: flex;


    width: 400px;

    border-radius: 30px;
    margin-left: 20px;


}

.container-grid{
    width: 80vw;
    max-width: 1400px;

    margin: 0 auto;
}
#contato h2 {
    font-family: 'Anton';
    color: white;
    font-size: 40px;
    margin: 40px auto;

    background-color: var(--roxo-insugame);
    width: 100%;
    height: 100px;

    text-transform: uppercase;
    font-weight: 50;
    border-radius: 30px;
    text-align: center;

    padding-top: 15px;
}

#contato {
    display: flex;
    align-items: center;
    flex-direction: column;

}

#contato form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin-bottom: 70px;
}

.campo {
    margin-top: 20px;
    margin-bottom: 30px;


    display: flex;
    flex-direction: column;

    height: auto;

}

#contato form input::placeholder {
    font-family: 'Teko';
    color: white;



}

#contato .campo label {
    font-family: 'Anton';
    color: white;
    font-weight: 300;

    font-size: 30px;

    margin-left: 20px;
    margin-bottom: 10px;

}

#contato .campo input {
    font-family: 'Teko';
    width: 900px;
    height: 60px;
    border-radius: 30px;

    padding: 5px 0 0 5px;
    background: none;
    border: 2px solid white;
    color: white;

    font-size: 20px;


}
.container-grid #botao{
  
    max-width: 1400px;
    margin: 0 auto;
}



.botao {

    background-color: var(--roxo-insugame);
    width: 200px;
    height: 150px;
    
    display: flex;
    align-items: center;
    padding: 15px 50px;
    border-radius: 30px;
    border: none;

    border-radius: 30px;

    box-shadow: 5px 5px 5px rgb(0, 0, 0);
}

.botao:hover {
    transform: translateY(-5px);


}

.botao h2{
    font-family: 'Anton';
    color: white;

    align-items: center;

    font-size: 25px;
    text-transform: uppercase;

    font-weight: 50;
}
.container-grid{
    width: 80vw;
    max-width: 1400px;

    margin: 0 auto;
}

#sobre h2 {
    background-color: var(--roxo-insugame);
    font-family: 'Anton';
    color: white;
    width: 1000px;
    height: 100px;
    font-size: 40px;

    font-weight: 100;
    margin: 50px auto;

    text-align: center;

    text-transform: uppercase;
    font-weight: 50;
    border-radius: 30px;

    padding-top: 20px;

}

#sobre {
    display: flex;
    align-items: center;
    flex-direction: column;

}

#sobre p {
    font-family: 'Anton';
    font-size: 35px;
    color: white;

    text-align: justify;



    margin-bottom: 40px;


}

#sobre img {


    align-items: center;

    width: 60%;
    display: flex;
    border-radius: 30px;





}

.imagem {
    background-color: var(--roxo-insugame);
    border-radius: 30px;
    width: 450px;

    margin-left: 30%;
    height: 400px;
    align-items: center;
    display: flex;
    justify-content: space-around;
    box-shadow: 5px 5px 5px rgb(0, 0, 0);

    margin-bottom: 50px;
}



footer .contato h2 {
    background-color: var(--roxo-insugame);
    font-family: 'Anton';
    width: 100%;
    font-size: 40px;

    font-weight: 100;
    color: white;

}
.contato {
    background-color: var(--roxo-insugame);
    width: 100%;
    height: 100px;
    text-align: center;
    padding-top: 20px;
    box-shadow: 5px 5px 5px rgb(0, 0, 0);
}

.contato2 {
    background-color: rgba(90, 29, 169, 52%);
    align-items: center;
    display: flex;
    flex-direction: column;

    height: 280px;

}

.conteudo-contato{
    display: grid;
    justify-content: center;
}



.icones {
    width: 20%;
    display: flex;
    justify-content: space-around;
    margin-top: 70px;
}

.icones img {
    width: 70px;
    margin: 60px 20px 0 20px;
    transform: translateY(-5px);
}

footer p {
    font-family: 'Anton';
    font-size: 40px;
    color: white;
}

@media screen and (max-width: 1200px) {
    .menu a {
        font-size: 22px;
    }

    header {
        width: 100%;

    }

    .banner {
        width: 100%;
    }

    .contato {
        width: 100%;
    }

    .contato2 {
        width: 100%;
    }

    .cases1 {
        display: flex;
        flex-direction: column-reverse;
        width: 45%;
        height: 585px;
        align-items: center;
        padding: 50px 30px 80px 40px;
    }

    .cases1 img {
        margin-left: none;
        margin-right: 10px;
        width: 450px;
        margin-top: 0;
    }

    .cases1 {
        display: flex;
        flex-direction: column-reverse;
        width: 45%;
        height: 585px;
        align-items: center;
        padding: 50px 30px 80px 40px;
    }

    .cases2 {
        display: flex;
        flex-direction: column-reverse;
        width: 45%;
        height: 585px;
        align-items: center;
        padding: 50px 30px 80px 40px;
    }

    .cases2 img {
        margin-left: none;
        width: 450px;
        margin-top: 20px;

    }

}